*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #9a9a9a;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; /* penting agar vertikal sejajar */
  padding: 1rem 2rem;
}

/* Logo section */
.logo a {
  display: inline-flex;
  align-items: center; /* teks dan gambar sejajar tengah */
  gap: 0.75rem; /* jarak antara logo & teks */
  text-decoration: none;
}

.logo-img {
  width: 45px;
  border-radius: 32px;
}

.site-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #191919;
}

/* Menu */
nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #191919;
  font-weight: 500;
  padding: 8px 0;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}

nav ul li a:hover {
  color: darkblue;
  border-bottom: 1px solid darkblue;
}
